<div class="container">
  <nav class="navbar">
    <div class="container">
      <a routerLink="/" class="nav-link">
        <div class="pt-3 d-flex">
          <img src="assets/images/logo.png" height="50" alt="" />
          <h4 class="pt-3 ms-2 text-white fw-bold">University system</h4>
        </div>
      </a>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>

        <app-add-student></app-add-student>
      </form>
    </div>
  </nav>

  <div class="row">
    <div class="col-md-12">
      <div *ngIf="successMessage" class="alert alert-success">
        {{ successMessage }}
      </div>

      <div *ngIf="studentAlreadyExist" class="alert alert-danger">
        {{ studentAlreadyExist }}
      </div>

      <div *ngIf="studentRemovedSuccessfully" class="alert alert-success">
        {{ studentRemovedSuccessfully }}
      </div>

      <div *ngIf="studentRemovedError" class="alert alert-danger">
        {{ studentRemovedError }}
      </div>

      <div *ngIf="!students.length" class="alert alert-warning">
        No Students in this class
      </div>

      <div class="card mb-3 px-2 py-1" *ngFor="let student of students">
        <div class="row">
          <div class="col-md-2">
            <div>
              <img
                src="{{
                  student.studentImage
                }}"
                height="70vh"
                alt="gsdg"
              />
            </div>
          </div>
          <div class="col-md-8">
            <div class="fs-5 d-flex mt-3">
              <h5 class="me-5">ID: {{ student.studentId }}</h5>
              <h5>Name: {{ student.user.fullname }}</h5>
            </div>
          </div>
          <div class="col-md-2">
            <app-student-details
              [studentId]="student._id"
            ></app-student-details>

            <app-student-delete
              [userId]="student.user._id"
            ></app-student-delete>

            <!-- End of Student Modal -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
