<button
  class="btn btn-success ms-3"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#staticBackdrop"
  aria-controls="staticBackdrop"
>
  Add
</button>

<div
  class="offcanvas offcanvas-end"
  data-bs-backdrop="static"
  tabindex="-1"
  id="staticBackdrop"
  aria-labelledby="staticBackdropLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="staticBackdropLabel">Add a course</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <form [formGroup]="addCourseValidation" (ngSubmit)="addNewCourse()">
        <div class="mb-3">
          <label for="className" class="form-label">Course name</label>
          <input
            type="text"
            class="form-control"
            id="courseName"
            formControlName="courseName"
          />
        </div>

        <div
          *ngIf="
            addCourseValidation.get('courseName')!.invalid &&
            addCourseValidation.get('courseName')!.touched
          "
        >
          <div
            class="text-danger"
            *ngIf="addCourseValidation.get('courseName')!.hasError('required')"
          >
            * Course name is required
          </div>
          <div
            class="text-danger"
            *ngIf="addCourseValidation.get('courseName')!.hasError('pattern')"
          >
            * course name is only characters
          </div>

          <div
            class="text-danger"
            *ngIf="addCourseValidation.get('courseName')!.hasError('minlength')"
          >
            * Minumium length 2 char
          </div>

          <div
            class="text-danger"
            *ngIf="addCourseValidation.get('courseName')!.hasError('maxlength')"
          >
            * Maximum length 50 char
          </div>
        </div>

        <div class="mb-3">
          <label for="classId" class="form-label">Class name</label>
          <select name="classID" class="form-select" formControlName="classId">
            <option value="" disabled selected>Select class year</option>
            <option *ngFor="let class of classes" value="{{ class._id }}">
              {{ class.className }}
            </option>
          </select>
        </div>

        <div
          *ngIf="
            addCourseValidation.get('classId')!.invalid &&
            addCourseValidation.get('classId')!.touched
          "
        >
          <div
            class="text-danger"
            *ngIf="addCourseValidation.get('classId')!.hasError('required')"
          >
            * class is required
          </div>
        </div>

        <div class="mb-3">
          <label for="teacherId" class="form-label">Teacher name</label>
          <select
            name="classID"
            class="form-select"
            formControlName="teacherId"
          >
            <option value="" disabled selected>Select teacher name</option>
            <option *ngFor="let teacher of teachers" value="{{ teacher._id }}">
              {{ teacher.user.fullname }}
            </option>
          </select>
        </div>

        <div
          *ngIf="
            addCourseValidation.get('teacherId')!.invalid &&
            addCourseValidation.get('teacherId')!.touched
          "
        >
          <div
            class="text-danger"
            *ngIf="addCourseValidation.get('teacherId')!.hasError('required')"
          >
            * teacher is required
          </div>
        </div>

        <div class="mb-3">
          <label for="numberOfTimesPerWeek" class="form-label"
            >Number of Times Per Week</label
          >
          <input
            type="number"
            class="form-control"
            id="numberOfTimesPerWeek"
            formControlName="numberOfTimesPerWeek"
            required
          />
        </div>

        <div
          *ngIf="
            addCourseValidation.get('numberOfTimesPerWeek')!.invalid &&
            addCourseValidation.get('numberOfTimesPerWeek')!.touched
          "
        >
          <div
            class="text-danger"
            *ngIf="
              addCourseValidation
                .get('numberOfTimesPerWeek')!
                .hasError('required')
            "
          >
            * Number of Lesson Times Per Week is required
          </div>
          <div
            class="text-danger"
            *ngIf="
              addCourseValidation
                .get('numberOfTimesPerWeek')!
                .hasError('pattern')
            "
          >
            * Number of Lesson Times Per Week is only numbers
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-success"
          [disabled]="addCourseValidation.invalid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
